xcode/build/cellVIEWinCinder.build/Debug/cellVIEWinCinder.build
xcode/build/Debug/cellVIEWinCinder.app/Contents/MacOS
xcode/cellVIEWinCinder.xcodeproj/project.xcworkspace/xcuserdata/dvdthepmkr.xcuserdatad
xcode/cellVIEWinCinder.xcodeproj/xcuserdata/dvdthepmkr.xcuserdatad/xcdebugger
